<mat-expansion-panel (opened)="open()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ bot.name }}
      <div class="spacer"></div>
      <a mat-icon-button
        routerLink="/edit-bot/{{ bot.id }}">
        <mat-icon>mode_edit</mat-icon>
      </a>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <section>
    <header>
      <h2>Profit Graph</h2>
    </header>
    <app-date-graph [graphData]="data" [series]="series"></app-date-graph>
  </section>
  <section>
    <header>
      <h2>Positions</h2>
    </header>
    <mat-tab-group>
      <mat-tab label="Active Positions">
        <div class="positions">
          <table mat-table
            [dataSource]="currentPositions"
            class="position-table">
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let item"> {{ item.symbol }} </td>
            </ng-container>

            <ng-container matColumnDef="tradingAmount">
              <th mat-header-cell *matHeaderCellDef>Trading Amount</th>
              <td mat-cell *matCellDef="let item">
                {{ item.tradingAmount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valuation">
              <th mat-header-cell *matHeaderCellDef>Valuation</th>
              <td mat-cell *matCellDef="let item">
                {{ item.valuation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="profitAmount">
              <th mat-header-cell *matHeaderCellDef>Profit Amount</th>
              <td mat-cell *matCellDef="let item">
                {{ item.valuation - item.tradingAmount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="profitPercent">
              <th mat-header-cell *matHeaderCellDef>Profit %</th>
              <td mat-cell *matCellDef="let item">
                {{
                  (item.valuation - item.tradingAmount) /
                  item.tradingAmount * 100
                }} %
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dispCol"></tr>
            <tr mat-row *matRowDef="let row; columns: dispCol;"></tr>
          </table>
        </div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          #curPosPaginator>
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Archived Positions">
        <div class="positions">
          <table mat-table
            [dataSource]="archivedPositions"
            class="position-table">
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let item"> {{ item.symbol }} </td>
            </ng-container>

            <ng-container matColumnDef="tradingAmount">
              <th mat-header-cell *matHeaderCellDef>Trading Amount</th>
              <td mat-cell *matCellDef="let item">
                {{ item.tradingAmount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valuation">
              <th mat-header-cell *matHeaderCellDef>Valuation</th>
              <td mat-cell *matCellDef="let item">
                {{ item.valuation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="profitAmount">
              <th mat-header-cell *matHeaderCellDef>Profit Amount</th>
              <td mat-cell *matCellDef="let item">
                {{ item.valuation - item.tradingAmount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="profitPercent">
              <th mat-header-cell *matHeaderCellDef>Profit %</th>
              <td mat-cell *matCellDef="let item">
                {{
                  (item.valuation - item.tradingAmount) /
                  item.tradingAmount * 100
                }} %
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dispCol"></tr>
            <tr mat-row *matRowDef="let row; columns: dispCol;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons #arcPosPaginator></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </section>
</mat-expansion-panel>
