<mat-toolbar color="primary">
  Midas
  <ul>
    <li><a mat-button i18n routerLink="/">Dashboard</a></li>
    <li><a mat-button i18n (click)="openSyncSetting()">Sync</a></li>
    <li><a mat-button i18n routerLink="/info">Info</a></li>
    <li><a mat-button i18n routerLink="/api">API</a></li>
  </ul>
</mat-toolbar>
<div fxLayout="row" class="router-body">
  <div fxFlex="5vw"></div>
  <div fxFlex>
    <router-outlet (activate)="preventCSRF()"></router-outlet>
  </div>
  <div fxFlex="5vw"></div>
</div>
