<section>
  <header>
    <h1 mat-dialog-title i18n>Are you sure?</h1>
  </header>
  <div mat-dialog-content>
    <p i18n>
      Are you sure to delete the following api key? Note that
      <strong>This operation cannot be undone.</strong>
    </p>
    <table>
      <tr *ngFor="let item of data.data | keyvalue">
        <td>{{ item.key | titlecase }}</td>
        <td *ngIf="item.key === 'exchange'">
          {{ item.value | titlecase }}
        </td>
        <td *ngIf="item.key !== 'exchange'">{{ item.value }}</td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button type="button"
      mat-raised-button
      [mat-dialog-close]="false"
      i18n color="warn">
      No! Keep it!
    </button>
    <button type="button" mat-button [mat-dialog-close]="true" i18n>
      Yes, Delete it!
    </button>
  </div>
</section>
