[package]
name = "bot_service"
version = "0.1.0"
authors = ["Hiroaki Yamamoto <hiroaki@hysoftware.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bot = { path = "../../libs/bot" }
config = { path = "../../libs/config" }
errors = { path = "../../libs/errors" }
csrf = { path = "../../libs/csrf" }
access_logger = { path = "../../libs/access_logger" }
warp_utils = { path = "../../libs/warp_utils" }
rpc = { path = "../../libs/rpc" }

warp = { version = "0.3.6", features = ["tls"] }
mongodb = { version = "2.8.0", default-features = false, features = [
  "async-std-runtime",
] }
reqwest = { version = "0.11.23", features = [
  "gzip",
  "brotli",
  "json",
  "rustls-tls",
  "cookies",
] }
tokio = { version = "1.35.1", features = [
  "macros",
  "rt",
  "rt-multi-thread",
  "signal",
] }
futures = "0.3.30"
log = { version = "0.4", features = ["kv_unstable", "kv_unstable_serde"] }
clap = { version = "4.4.16", features = ["derive"] }
libc = "0.2.152"
http = "1.0.0"
