[package]
name = "historical_date_split_worker"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = { path = "../../libs/config" }
types = { path = "../../libs/types" }
rpc = { path = "../../libs/rpc" }

kvs = { path = "../../libs/kvs" }
subscribe = { path = "../../libs/subscribe" }

history = { path = "../../libs/history" }
date_splitter = { path = "../../libs/date_splitter" }

log = { version = "0.4", features = ["kv_unstable", "kv_unstable_serde"] }
tokio = { version = "1.35.1", features = [
  "rt",
  "rt-multi-thread",
  "macros",
  "signal",
] }
clap = { version = "4.4.13", features = ["derive"] }
mongodb = { version = "2.8.0", default-features = false, features = [
  "async-std-runtime",
] }
futures = "0.3.30"
libc = "0.2.151"
