<section>
  <header>
    <h1 mat-dialog-content *ngIf="isNew">Add New API Key</h1>
    <h1 mat-dialog-content *ngIf="!isNew">Edit API Key</h1>
  </header>
  <form novalidate [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <mat-label i18n>Exchange</mat-label>
      <mat-select formControlName="exchange" [required]="isNew">
        <mat-option *ngFor="let exc of exchanges | keyvalue" [value]="exc.value">
          {{exc.key |  titlecase}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('exchange').hasError('required')" i18n>
        This field is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Name</mat-label>
      <input matInput formControlName="label" required>
      <mat-error *ngIf="form.get('label').hasError('required')" i18n>
        This field is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Public Key</mat-label>
      <input matInput formControlName="pubKey" [required]="isNew">
      <mat-error *ngIf="form.get('pubKey').hasError('required')" i18n>
        This field is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Private Key</mat-label>
      <input matInput formControlName="prvKey" [required]="isNew">
      <mat-error *ngIf="form.get('prvKey').hasError('required')" i18n>
        This field is required.
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions fxLayout="row">
      <button mat-raised-button type="button"
        color="accent"
        (click)="close(RespType.DELETE)"
        [disabled]="isNew">
        <fa-icon [icon]="trash"></fa-icon>
        Delete
      </button>
      <div fxFlex></div>
      <button type="submit" autofocus
        mat-button
        [mat-dialog-close]="form" i18n
        (click)="close(RespType.POST)"
        [disabled]="!(form.valid &amp;&amp; form.dirty)">
        <mat-icon>done</mat-icon>
        Save
      </button>
      <button mat-button mat-dialog-close i18n (click)="close(RespType.CANCEL)" type="button">
        <mat-icon>clear</mat-icon>
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</section>
