<section>
  <header>
    <h1 i18n>API Keys Setting</h1>
  </header>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-fab color="primary" (click)="openEditDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-list>
    <mat-list-item>
      <div mat-line>Jade</div>
      <div mat-line>Exchange: Binance</div>
      <div mat-line>
        PubKey: gjCJuEJahZ91yCqbKxL5xdOhLehwfpKXAQeDYbBRNd25kHUSZMXo6DAbyrOkDnZu
      </div>
      <div mat-line>
        Prvkey: ********
      </div>
    </mat-list-item>
  </mat-list>
</section>
