<section id="page-root">
  <header>
    <h1 i18n>Add/Edit Bot</h1>
  </header>
  <form [formGroup]="form" id="bot-edit-form">
    <mat-form-field>
      <mat-label i18n>Bot Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <div class="amounts">
      <mat-form-field>
        <mat-label i18n>Exchange</mat-label>
        <mat-select (selectionChange)="exchangeChanged()"
          formControlName="exchange">
          <mat-option *ngFor="let exchange of exchanges" [value]="exchange">
            {{ exchange | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Base Currency</mat-label>
        <mat-select formControlName="baseCurrency">
          <mat-option *ngFor="let currency of baseCurrencies.symbols"
            [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Trading Amount</mat-label>
        <input matInput type="number" formControlName="tradingAmount">
      </mat-form-field>
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Trading Condition">
        <ng-template matTabContent>
          <div class="editor-container">
            <app-monaco-editor language="typescript"
              formControlName="condition"></app-monaco-editor>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Back Test"></mat-tab>
    </mat-tab-group>
  </form>
</section>
