<section>
  <header>
    <h1 i18n>Add/Edit Bot</h1>
  </header>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <mat-label i18n>Bot Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <div fxLatoyout="row">
      <mat-checkbox class="example-margin" formControlName="reinvest" i18n>
        Re-invest Mode
      </mat-checkbox>
      <mat-form-field>
        <mat-label>Base Currency</mat-label>
        <mat-select formControlName="baseCurrency">
        </mat-select>
      </mat-form-field>
    </div>
    <ngx-monaco-editor
      [options]="editorOption"
      formControlName="condition"
      (onInit)="monacoLoaded()"
      class="editor"
    ></ngx-monaco-editor>
  </form>
</section>
