<div fxLayout="row">
  <h1 mat-dialog-title i18n>Synchronization</h1>
  <div fxFlex></div>
  <button mat-dialog-close mat-mini-fab>
    <fa-icon [icon]="closeIcon"></fa-icon>
  </button>
</div>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <section>
      <header><h3 i18n>Synchronize Symbol Data</h3></header>
      <p i18n>
        Before syncrhonizing Historical Data, Symbol data synchronization is
        required. To synchronize the symbol data, click / tap "Sync Symbol Data"
        button.
      </p>
    </section>
    <div>
      <button mat-raised-button
        color="primary" i18n (click)="fetchSymbol()"
        [disabled]="!symbolButtonEnabled">
        <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
          <fa-icon [icon]="syncIcon" size="2x"></fa-icon>
          Sync Symbol Data
        </div>
      </button>
    </div>
  </div>
  <div class="spacer"></div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <section>
      <header>
        <h3 i18n>Synchronize Histoical Kline Data</h3>
      </header>
      <p i18n>
        To synchronize historical kline data that is used for back testing,
        click / tap "Sync Hist Kline Data" button.
      </p>
      <div *ngIf="historicalClient.syncProgress.size &gt; 0">
        <section>
          <header>
            <h4 i18n>Object Process Status</h4>
          </header>
          <div fxLayout="column"
            fxLayoutAlign="center start"
            class="progress"
            *ngFor="let prog of historicalClient.syncProgress | keyvalue">
            <app-sync-progress
              [progress]="prog.value"
              (completed)="fetchProgressCompleted($event)"
            ></app-sync-progress>
          </div>
        </section>
        <section>
          <header>
            <h4 i18n>Symbol Processing Status</h4>
          </header>
          <div fxLayout="column" fxLayoutAlign="center start" class="progress">
            <mat-progress-bar [value]="historicalClient.symbolProgress.current / historicalClient.symbolProgress.size * 100"> </mat-progress-bar>
            <div>
              <strong>
                {{ historicalClient.symbolProgress.current }} /
                {{ historicalClient.symbolProgress.size }}
              </strong>
            </div>
          </div>
        </section>
      </div>
    </section>
    <div>
      <button mat-raised-button color="primary" i18n
        (click)="fetchHistoricalData()"
        [disabled]="historicalClient.syncProgress.size &gt; 0">
        <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
          <fa-icon [icon]="histIcon" size="2x"></fa-icon>
          Sync Hist Kline Data
        </div>
      </button>
    </div>
  </div>
</div>
