<section>
  <header>
    <h1 i18n>Exchange Info Syncronization: {{ exchange | exchangePipe | titlecase }}</h1>
  </header>
  <mat-card>
    <mat-card-title i18n>Symbol Syncronization</mat-card-title>
    <mat-card-content>
      <p i18n>
        Before syncronize exchange information, or the symbol data is old,
        you will need to synchronize symbol information.
      </p>
      <p i18n>
        To synchronize symbol information, click
        "Syncronize Symbol Information" button below.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button i18n mat-raised-button color="primary"
        [disabled]="!syncHandler.syncButtonEnabled"
        (click)="syncSymbol()">
        <fa-icon [icon]="rotateIcon"></fa-icon> Synchronize Symbol Information
      </button>
    </mat-card-actions>
  </mat-card>
  <section>
    <header>
      <h2>Historical Data Update</h2>
    </header>
    <div fxLayout="column">
      <table mat-table [dataSource]="syncHandler.symbols">
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let symbol"> {{ symbol.symbol }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dispCol"></tr>
        <tr mat-row *matRowDef="let row; columns: dispCol;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        #symbolPaginator>
      </mat-paginator>
    </div>
  </section>
</section>
