<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let item">{{item.symbol}}</td>
    </ng-container>
    <ng-container matColumnDef="askPrice">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Best Price for buy</th>
      <td mat-cell *matCellDef="let item">{{item.askPrice}}</td>
    </ng-container>
    <ng-container matColumnDef="askQty">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Best Qty for buy</th>
      <td mat-cell *matCellDef="let item">{{item.askQty}}</td>
    </ng-container>
    <ng-container matColumnDef="bidPrice">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Best Price for Sell</th>
      <td mat-cell *matCellDef="let item">{{item.bidPrice}}</td>
    </ng-container>
    <ng-container matColumnDef="bidQty">
      <th mat-header-cell *matHeaderCellDef i18n mat-sort-header>Best Qty for Sell</th>
      <td mat-cell *matCellDef="let item">{{item.bidQty}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
