@import '@fontsource/roboto';
@import '@fontsource/material-icons';

$normal-font-color: #FAFAFB;

:root {
  font-family:
    Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #212122;
  color: $normal-font-color;
  min-height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $normal-font-color;
}

body {
  margin: 0;
}
