[package]
name = "token_service"
version = "0.1.0"
authors = ["Hiroaki Yamamoto <hiroaki@hysoftware.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = { path = "../../libs/config" }
csrf = { path = "../../libs/csrf" }
access_logger = { path = "../../libs/access_logger" }
rpc = { path = "../../libs/rpc" }
warp_utils = { path = "../../libs/warp_utils" }

log = { version = "0.4", features = ["kv_unstable", "kv_unstable_serde"] }
clap = { version = "4.5.1", features = ["derive"] }
tokio = { version = "1.36.0", features = [
  "macros",
  "rt",
  "rt-multi-thread",
  "signal",
] }
futures = "0.3.30"
libc = "0.2.153"
warp = { version = "0.3.6", features = ["tls"] }
