name: "Build Backend"
on:
  push:
    branches:
      - master
jobs:
  build-libs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo
            backend/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('backend/Cargo.lock') }}
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            musl-tools jq curl lld clang cmake protobuf-compiler \
            libprotobuf-dev
      - name: Setup Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Setup Rustfmt
        run: rustup component add rustfmt
      - name: Target to x86_64-unknown-linux-musl
        run: rustup target add x86_64-unknown-linux-musl
      - name: "Extract musl dependencies"
        run: |
          mkdir ../deps
          tar xJvf openssl.txz -C ../deps
          tar xJvf gmp.txz -C ../deps
          tar xJvf mpfr.txz -C ../deps
          tar xJvf mpc.txz -C ../deps
        working-directory: ./.github
      - name: "Build the package"
        run: |
          cargo build -r \
            --target x86_64-unknown-linux-musl \
            --lib
          cargo build -r \
            --target x86_64-unknown-linux-musl \
            -p clients \
            -p executors \
            -p history \
            -p notification \
            -p observers \
            -p symbols
          # -p sign
        working-directory: ./backend
      - name: "Compress the built files"
        run: tar --zstd -cvf target.tzst target
        working-directory: ./backend
      - name: "Upload the package"
        uses: actions/upload-artifact@v4
        with:
          name: target.tzst
          path: backend/target.tzst
  build-bot_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: bot_service
  build-historical_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: historical_service
  build-keychain_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: keychain_service
  build-symbol_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: symbol_service
  build-token_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: token_service
  build-trade_observer_service:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: trade_observer_service
  # TODO: Transpiler Service
  build-historical_date_split_worker:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: historical_date_split_worker
  build-historical_fetch_worker:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: historical_fetch_worker
  build-notify_worker:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: notify_worker
  build-trade_observer_worker:
    needs: build-libs
    uses: hiroaki-yamamoto/midas/.github/workflows/backend-bin-template.yml@master
    with:
      pkgid: trade_observer_worker
  build-frontend:
    uses: hiroaki-yamamoto/midas/.github/workflows/build-frontend.yml@master
