on: workflow_call
jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build Frontend"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/cache@v3
        with:
          path: |
            frontend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('frontend/pnpm-lock.yaml') }}
      - name: "Install Dependencies"
        run: pnpm i
        working-directory: frontend
      - name: "Build"
        run: pnpm run prod
        working-directory: frontend
      - name: "Compress Build"
        run: tar --zstd -cvf dist.tar.zst dist
        working-directory: frontend
      - name: "Upload the package"
        uses: actions/upload-artifact@v4
        with:
          name: dist.tar.zst
          path: frontend/dist.tar.zst
  docker-deploy:
    name: "Deploy Frontend to ghcr.io (Docker)"
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Download Built Package"
        uses: actions/download-artifact@v4
        with:
          name: dist.tar.zst
          path: ./frontend
      - name: "Extract Built Package"
        run: tar --zstd -xvf dist.tar.zst dist
        working-directory: ./frontend
      - name: "Log into the registry"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/hiroaki-yamamoto/frontend
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: frontend
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
