<section class="dashboard">
  <header>
    <h1 i18n>Dashboard</h1>
  </header>
  <app-date-graph [graphData]="data" [series]="series"></app-date-graph>
</section>

<section class="dashboard">
  <header id="bot-header">
    <h1 i18n>Bots</h1>
    <a mat-fab color="primary" routerLink="/edit-bot" i18n>
      <mat-icon>add</mat-icon>
    </a>
  </header>
  <mat-accordion>
    @for (bot of botsInfoHandler.bots; track bot.id) {
      <app-bot-panel [bot]="bot"></app-bot-panel>
    }
  </mat-accordion>
</section>
