<div fxLayout="row">
  <div fxFlex="5vw"></div>
  <div fxFlex>
    <section class="dashboard">
      <header>
        <h1 i18n>Dashboard</h1>
      </header>
      <div id="compare-graph" class="graph"></div>
    </section>
  </div>
  <div fxFlex="5vw"></div>
</div>

<div fxLayout="row">
  <div fxFlex="5vw"></div>
  <div fxFlex>
    <section class="dashboard">
      <header>
        <h1 i18n>Bots</h1>
      </header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Test title</mat-panel-title>
            <mat-panel-description>Test description</mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </div>
  <div fxFlex="5vw"></div>
</div>
