<div fxLayout="row">
  <div fxFlex="5vw"></div>
  <div fxFlex>
    <section class="dashboard">
      <header>
        <h1 i18n>Dashboard</h1>
      </header>
      <div id="compare-graph" class="graph"></div>
    </section>
  </div>
  <div fxFlex="5vw"></div>
</div>

<div fxLayout="row">
  <div fxFlex="5vw"></div>
  <div fxFlex>
    <section class="dashboard">
      <header>
        <h1 i18n>Bots</h1>
      </header>
      <mat-accordion>
        <app-bot-panel *ngFor="let bot of botsInfo" [bot]="bot"></app-bot-panel>
      </mat-accordion>
    </section>
  </div>
  <div fxFlex="5vw"></div>
</div>
